main{
  /*text-align: center;*/
  background-image: url("../resources/images/twentyninepalms.jpg");
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.expdates,.skill_levels{
    float: right;
}

.fa-plus,.fa-minus{
    color: white;
}

.card img {
  display: block;
  max-width:230px;
  max-width:140px;
  width: auto;
  height: auto;
}

label+select{
    display: block;
}

select{
    padding :.375rem .75rem;
}

/*header{
  max-height:15vh;
}

footer{
  display: block;
  max-height:5vh;
}

label{

  text-align: left;
}
*/
